/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */


:root {
    --color-white: #fff;
    --color-black: #000;
    --color-green: #00CC14;
    --color-red: #FF0000;

    
    --contour-color: var(--accent-color, #000);
    --like-main-body-color: none;
    --like-active-color: var(--color-red, #FF0000);
    --sparks-color: var(--color-red, #FF0000);
    --main-font: 'Inter-Variable', sans-serif;
    --accent-font: 'PressStart2P', fantasy;
    --main-card-font-weight: 400;
    --title-card-font-weight: 700;
    --button-text: var(--color-white, #fff);
    --background-color: var(--color-white, #ffff);
    --accent-color: var(--color-black, #000);
    --page-background-image:   repeating-linear-gradient(
                    to left,  
                    #d3d3d3 0px 2px,
                    #d3d3d300 2px 4px
                ),
                repeating-linear-gradient(
                to bottom,
                #d3d3d3 0px 2px,
                #d3d3d300 2px 4px
                ),
                linear-gradient(
                #e7e7e7 0.01%,
                #1a1a1a
                );
    }